.login-page {
    background-color: #eee;
    height: 100%;
}

.stub-error {
    height: 54px;
    color: inherit;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

input{
    width: 100%;
}

.input-top {
    margin-bottom: 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.title-block {
    text-align: center;
}

.page-template {
    padding-bottom: 30px;
}

.title-block {
    text-align: center;
}

.title-block > h2 > img {
    padding-right: 30px;
    max-height: 60px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown:hover, .dropdown:hover>a{
    color: white;
    background-color: #158cba;
    border-radius: 4px;
}

.dropdown:active .dropdown-menu{
    display: block;
}

.navbar-toggle .icon-bar {
    background-color: #158cba;
}


#main-nav a:active, #main-nav a.active{
    color: white;
    background-color: #479cbd;
}

#main-nav a:hover{
    color: white;
    background-color: #158cba;
}

.nav>li> a, a.dropdown-toggle{
    border-radius: 4px;
}


a.active ~ a.dropdown-toggle {
    background-color: #479cbd;
}
