#choose-account #choose-account-button {
  float: right;
}

#choose-account .client-information {
  margin-left: 30px;
}

#choose-account .organisation-name {
  text-decoration: underline;
}

#choose-account .accounts-to-choose th {
  font-size: 80%;
}

#choose-account #choose-account-table {
  margin-top: 30px;
  margin-left: 30px;
}


#choose-account #operation-status {
  margin-left: 60px;
}